{% trans_default_domain "media_library" %}

{% block image_field_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }} class="image-field-widget row">
            <div class="form-item" data-weight="{{ form.weight.vars.value | raw }}">
                {% if image is defined %}
                <a href="#" data-image-id="" class="selected-image col-md-12">
                    {% if image_attributes.class is defined %}
                        {{ picture_image(image, picture_set, { 'class' : image_attributes.class }) }}
                    {% else %}
                        {{ picture_image(image, picture_set) }}
                    {% endif %}
                </a>
                {% else  %}
                <div class="selected-image col-md-12">
                    {% spaceless %}
                        {% trans %}No featured image selected.{% endtrans %}
                    {% endspaceless %}
                </div>
                {% endif %}
                {{ form_widget(form.image, {'attr' : {'class' : 'image-field-image'}}) }}
                {{ form_widget(form.weight, {'attr' : {'class' : 'image-field-weight'}}) }}
                {{ form_rest(form) }}
            </div>
            <div class="action-controls action-create btn-group col-md-12">
                <button data-action="select_image" type="submit" class="btn btn-default action-control create-control">{% trans %}Add an existing image{% endtrans %}</button>
                <button data-action="create_image" type="submit" class="btn btn-default action-control create-control">{% trans %}Add a new image{% endtrans %}</button>
                <button data-action="remove_image" type="submit" class="btn btn-default action-control edit-control">{% trans %}Remove{% endtrans %}</button>
                <button data-action="edit_image" type="submit" class="btn btn-default action-control edit-control">{% trans %}Edit{% endtrans %}</button>
                <button data-action="select_image" type="submit" class="btn btn-default action-control edit-control">{% trans %}Change{% endtrans %}</button>
            </div>
        </div>
    {% endspaceless %}
    <div class="modal fade media-library-modal-lg image-field-widget-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myLargeModalLabel">{% trans %}Image Library{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <div id="modal-messages"></div>
                    <div class="row library-row">
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
{% endblock %}